.site-form-wrapper {
  margin-top: 48px;
  margin-bottom: 48px;
}

.site-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-form__label {
  width: 480px;
}

.site-form__input {
  width: 100%;
  padding: 18px 74px;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--header-bg);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  color: var(--text-color);
  background-image: url("../../assets/images/search.svg");
  background-repeat: no-repeat;
  background-position: center left 32px;
}

.site-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

.site-form__select {
  width: 200px;
  padding: 18px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
  background: var(--header-bg);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  appearance: none;
  background-image: url("../../assets/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 18px;
}

option {
  padding: 15px;
}
