.countries__item {
  width: 264px;
  margin-bottom: 75px;
  list-style: none;
  background: var(--header-bg);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
}

.countries-info {
  padding: 24px 24px 46px;
}

.countries-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: var(--text-color);
}

.difinition-list {
  margin: 0;
}

.difinition-inner {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
}

.difinition-inner:not(:last-child) {
  margin-bottom: 8px;
}

.difinition-title {
  font-weight: 900;
}

.difinition-text {
  margin-left: 5px;
}

.countries-img {
  width: 264px;
  height: 160px;
  object-fit: cover;
}

.countries-link {
  text-decoration: none;
}
